$media-xs-less: 374px;
$media-sm-less: 575px;
$media-md-less: 767px;
$media-lg-less: 991px;
$media-xl-less: 1199px;
$media-xxl-less: 1420px;

$media-xs-more: 'only screen and (min-width: 375px)';
$media-sm-more: 'only screen and (min-width: 576px)';
$media-md-more: 'only screen and (min-width: 768px)';
$media-lg-more: 'only screen and (min-width: 992px)';
$media-xl-more: 'only screen and (min-width: 1200px)';
$media-xxl-more: 'only screen and (min-width: 1421px)';
