$white: #ffffff;
$ui_white: #f0f2f5;
$white_chat: #e3e3e3;

$dark_blue_default: #34495e;
$dark_blue_lite: #495c6e;
$dark_blue_litter: #3a4f65;
$dark_blue_active: #2c3e50;
$dark_blue_soft: #607d8b;

$grey_blue_active: #95a5a6;
$grey_blue_default: #c0cecf;
$grey_blue_litter: #f4f5f6;
$grey_blue_lite: #e6ebeb;

$grey_active: #262626;
$grey_default: #595959;
$grey_lite: #a3a3a3;
$grey_soft: #d9d9d9;

$yellow_origin: #ffcb17;

$red_origin: #e77674;
$red_active: #c84444;
$red_default: #d75746;
$red_lite: #ef8079;
$red_soft: #ffdddb;

$orange_origin: #f6c35a;
$orange_active: #d98500;
$orange_default: #f39c12;
$orange_lite: #f8cd88;
$orange_soft: #ffe9c5;

$green_origin: #7bbb6a;
$green_active: #4c9562;
$green_default: #55ab68;
$green_lite: #6fbb85;
$green_soft: #b3eaca;

$blue_accent: #2a99ff;
$blue_active: #4078ab;
$blue_origin: #5c87c2;
$blue_default: #3498db;
$blue_lite: #70acdd;
$blue_soft: #d4e9f7;
