.ant-form-item {
  margin: 0;
}

.ant-form-item {
  font-size: 16px;
  line-height: 24px;

  //color: #2c3e50;
  //border-radius: 6px;
  //background: rgba(45, 61, 79, 0.05);
  //border: solid 1px transparent;
  //padding: 10px 20px;
}