.ant-radio {

  &-inner {
    background-color: transparent;
    border-width: 2px;
    border-color: #95a5a6;

    &:after {
      top: 2px;
      left: 2px;
    }
  }

  &-wrapper {
    color: #95a5a6;
    font-weight: 500;
    font-family: 'DINPro', sans-serif;
    font-size: 16px;
    display: inline-flex;
    align-items: center;

    &-checked {
      color: #ecf0f1;
    }
  }

  &-checked .ant-radio-inner {
    border-color: #3498db;

    &:after {
      background-color: #3498db;
    }
  }
}