h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 !important;
  font-weight: bold;
  color: #2c3e50;
}

h1.ant-typography, .ant-typography h1 {
  //font-size: 26px;
  // line-height: 36px;
}

span.ant-typography {
  font-family: 'DINPro', sans-serif;
}

.ant-typography {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #2c3e50;
  font-size: 16px;
  line-height: 1.5;
}
