$accent: green;
$primary: blue;
$textColor: #fff;

$transition: 0.1s linear;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

$regular: "DINPro", "Arial", sans-serif;

$bodyFont: $regular;
$bodyFontColor: $textColor;
$bodyBackgroundColor: #2b3e4f;
